POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=documents
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_INDEX=documents